.div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#input{
    width: 500px;
    border-radius: 20px;
    height: 40px;
  
}
 .fa-solid{
    position: absolute;
   right: 34%;
 }